body{
  font-family: 'VT323', monospace;
  background-color: #181818;
  color: #808080;
}

a{
  color: #808080;
}

button{
  border: 2px solid #808080;
  background-color: transparent;
  color: #808080;
  font-family: 'VT323', monospace;
}

button:focus{
  outline: none;
}

main{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#skillsCont{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
}

#skillsCont div{
  width: 33%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

#skillsCont div h4, #skillsCont div ul{
  width: 100%;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2.5em;
}

h3{
  font-size: 2em;
  margin: 5px 0;
}

h4{
  font-size: 1.5em;
  margin-bottom: 5px;
}

#top p{
  margin: 10px 0;
}

p{
  font-size: 1.25em
}

#summary p{
  text-align: left;
}

@media screen and (min-width: 768px) {
  #skillsCont div h4, #skillsCont div ul{
    width: 50%;
  }

  #skillsCont div{
    align-items: center;
  }
}